<header class='header{{if @fixed " fixed" null}}'>
  <nav class='header__nav container'>
    <div class='header__nav-wrapper'>
      <div class='burger'>
        <div class='burger-line'></div>
        <div class='burger-line'></div>
        <div class='burger-line'></div>
      </div>
      <LinkTo @route='index' class='header__nav-logo'>
        <Svg::Logo />
      </LinkTo>
    </div>
    <div class='header__nav-wrapper links'>
      <a href='https://nfe.io/produtos/' target='_blank'>Procurando uma API?</a>
      <a href='https://nfe.io/consulta-de-dados/' target='_blank'>Consultas para
        sua empresa?</a>
    </div>
  </nav>
</header>