<div class='container'>
  <div class='wrapper'>
    <section>
      <h2>Como funciona a consulta de CNPJ online?</h2>
      <p>As novas tecnologias só tem ajudado as empresas evoluírem, ainda mais
        quando falamos em automação de dados. O nosso sistema para consultar
        CNPJs é grátis e prático, em poucos segundos você recebe as informações
        completas da Pessoa Jurídica.</p>
      <p>Usando a nossa ferramenta é possível também consultar a situação
        cadastral de um CNPJ pelo nome ou pelo próprio número. Todos os dados
        são buscados diretamente no banco de dados da Receita Federal,
        fornecendo uma pesquisa completa da sua consulta de CNPJ em poucos
        segundos.</p>
    </section>
    <section>
      <h2>Consulta endereço por CNPJ</h2>
      <p>A ferramenta de consultas de CNPJs é ótima aliada para equipes
        comerciais também. É possível consultar o endereço da empresa pelo CNPJ
        usando nosso sistema. Use o número ou razão social e encontre as
        informações de endereço, contato de e-mail e telefone do CNPJ que você
        busca.</p>
    </section>
    <section>
      <h2>Pesquisar razão social pelo CNPJ</h2>
      <p>Toda a informação que temos de uma empresa às vezes é somente sua razão
        social, não é mesmo? Não se preocupe! Com nossa ferramenta é possível
        pesquisar dados completos de um CNPJ buscando pela sua razão social.</p>
    </section>
    <section>
      <h2>Por que usar a consulta de CNPJ online</h2>
      <p>O tempo é um ativo muito precioso para algumas empresas e nada melhor
        do que contar com uma ferramenta capaz de automatizar tarefas
        repetitivas e que só fazem sua empresa perder tempo. Veja todos os dados
        retornados ao realizar um consulta de CNPJ: Razão social, Nome Fantasia,
        Número de inscrição, data de abertura, código e descrição da natureza
        jurídica, situação cadastral atual, localização, atividades econômicas
        secundárias, sócios e capital social.</p>
      {{! template-lint-disable no-whitespace-within-word }}
      <p>O nosso sistema realiza pesquisas por CNPJs (seja de Simples Nacional,
        MEI, ou outros tipos) de forma rápida e prática, o objetivo é facilitar
        seu dia dia. Por isso, criamos outras ferramentas que também facilitam a
        pesquisa por dados na internet: o Gerador de CPF, o Gerador de CNPJ, a
        Consulta de CPF, o Validador de CPF e o Validador de CNPJ.</p>
    </section>
  </div>
</div>