
/* Header */
.header{
    background: #009688;
    position: absolute;
    height: 4.5em;
    z-index: 1000;
    overflow: hidden;
    width: 100%;
    top: 0px;
    left: 0px;
    display: block;
    
}
  .center{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 20%;  
  }
  
.menu-and-logo{
  display: flex;
  flex-direction: row;
  padding-top: 10px;

}
.logo{
  width: 105px;
}

.cls-1-menu {
  fill: #ffffff;
}

.cls-2-menu {
  fill: #30c1a5;
}


.menu-icon{
  width: 30px;
    height: 30px;
    transform: scale(.8);
    fill: rgba(255,255,255,.8);

}

.links{
  display: flex;
  justify-content: flex-end;
  font-size: .9em;
}
.header-link{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 500;
    margin-left: 0.5em;
    text-decoration: none;
}

/*search component*/

.search{
  background: #009688;
    height: 4.5em;
    z-index: 1000;
    width: 100%;
}