<footer class='container'>
  <div class='footer-call'>
    <Svg::Logo />
    <p>NFe.io © 2017. Todos os Direitos Reservados</p>
    <a href='https://nfe.io' target='_blank'>Conheça a NFe.io</a>
  </div>
  <div class='footer-links'>
    <ul>
      <li><p>Assuntos</p></li>
      <li class='footer-link-item'><a
          href='https://nfe.io/blog/gestao-empresarial/'
          target='_blank'
        >Gestão Empresarial</a></li>
      <li class='footer-link-item'><a
          href='https://nfe.io/blog/financeiro/'
          target='_blank'
        >Gestão Financeira</a></li>
      <li class='footer-link-item'><a
          href='https://nfe.io/blog/nota-fiscal'
          target='_blank'
        >Nota Fiscal</a></li>
    </ul>
    <ul>
      <li><p>NFe.io</p></li>
      <li class='footer-link-item'><a
          href='https://nfe.io/nota-fiscal-de-servico-eletronica'
          target='_blank'
        >Notas Fiscais</a></li>
      <li class='footer-link-item'><a
          href='https://nfe.io/consulta-de-dados'
          target='_blank'
        >Consultas Automatizadas</a></li>
    </ul>
    <ul>
      <li><p>Empresa</p></li>
      <li class='footer-link-item'><a
          href='https://nfe.io/'
          target='_blank'
        >Saiba Mais</a></li>
      <li class='footer-link-item'><a
          href='https://nfe.io/contato'
          target='_blank'
        >Parcerias</a></li>
      <li class='footer-link-item'><a
          href='https://nfe.io/contato'
          target='_blank'
        >Contato</a></li>
    </ul>
  </div>
</footer>