.search-panel {
  background: #009688;
  padding-top: var(--header-height);
  box-shadow: var(--panel-box-shadow);
  position: relative;
  transition: var(--transition);
}

.search-panel.fixed {
  position: fixed;
  height: 60px;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding-top: 40px;
}

.search-panel-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.search-panel-wrapper h1 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 3.2rem;
  text-align: center;
  transition: var(--transition);
}

.search-panel.fixed .search-panel-wrapper h1 {
  font-size: 1.1rem;
  margin-bottom: 0;
  margin-top: 0.8rem;
  letter-spacing: 1px;
}

.search-panel__input {
  --height: 46px;
  width: 600px;
  height: var(--height);
  position: absolute;
  bottom: -24px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 30%);
  display: flex;
  align-items: center;
  background: #fff;
  border: 2px solid #009688;
  border-radius: 0.2em;
}

.search-panel.fixed .search-panel__input {
  --height: 40px;
}

.search-panel__input button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 10px;
  position: absolute;
  right: 0;
}

.search-panel__input button .search {
  opacity: 0.4;
  stroke: #1b2738;
  width: 24px;
  height: 24px;
}

.search-panel__input input {
  height: 100%;
  flex: 1;
  border: none;
  font-size: 1.1em;
  text-align: center;
  font-weight: 400;
  background-color: transparent;
  color: #009688;
  outline: none;
  margin-left: 35px;
  margin-right: 44px;
}

.search-panel__input.alert {
  border: 2px solid #f44336 !important;
  box-shadow: 0 2px 2px 0 rgb(244 67 54 / 19%), 0 0 0 1px rgb(244 67 54 / 10%);
}

.search-panel__input.alert input {
  color: #f44336;
}

.svg-alert {
  position: absolute;
  left: 5px;
  width: 24px;
  height: 24px;
  top: 50%;
  transform: translateY(-50%);
}

.svg-alert svg {
  width: 100%;
  fill: #f44336;
}

@media screen and (max-width: 768px) {
  .search-panel__input {
    width: var(--wrapper-width);
  }
}
