<div class='search-panel'>
  <div class='search-panel-wrapper container'>
    <h1>{{@title}}</h1>
    <div class='search-panel__input'>
      <input type='text' placeholder={{@placeholder}} />
      <button><Svg::Search /></button>
    </div>
  </div>
</div>